###############################################################
# SPDX-License-Identifier: BSD-2-Clause-Patent
# SPDX-FileCopyrightText: 2020 the prplMesh contributors (see AUTHORS.md)
# This code is subject to the terms of the BSD+Patent license.
# See LICENSE file for more details.
###############################################################

CONFIG_PACKAGE_amxb-inspect=y
CONFIG_PACKAGE_amxb-ubus=y
CONFIG_PACKAGE_amxo-cg=y
CONFIG_PACKAGE_amxrt=y
CONFIG_PACKAGE_libamxb=y
CONFIG_PACKAGE_libamxc=y
CONFIG_PACKAGE_libamxd=y
CONFIG_PACKAGE_libamxj=y
CONFIG_PACKAGE_libamxo=y
CONFIG_PACKAGE_libamxp=y
CONFIG_PACKAGE_libsahtrace=y
CONFIG_PACKAGE_sah-build-compatibility=y
