###############################################################
# SPDX-License-Identifier: BSD-2-Clause-Patent
# SPDX-FileCopyrightText: 2020 the prplMesh contributors (see AUTHORS.md)
# This code is subject to the terms of the BSD+Patent license.
# See LICENSE file for more details.
###############################################################

CONFIG_FEED_mmx=y
CONFIG_PACKAGE_luaxml=y
CONFIG_PACKAGE_mmx-web-lib-chartist=y
CONFIG_PACKAGE_libing-gen-utils=y
CONFIG_PACKAGE_libmicroxml=y
CONFIG_PACKAGE_libmmx-backapi=y
CONFIG_PACKAGE_libmmx-frontapi=y
CONFIG_PACKAGE_mmx-cli=y
CONFIG_PACKAGE_mmx-ep=y
CONFIG_PACKAGE_mmx-web=y
CONFIG_PACKAGE_inango-prplmesh-en=y
CONFIG_PACKAGE_prplmesh-be=y
